@import url('app.css');
@import url('rankSelector.css');
@import url('leaderboard.css');
@import url('spinner.css');
@import url('player.css');

@font-face {
    font-family: 'Equalize';
    src: url('/src/fonts/EqualizeRegular.woff') format('woff');
}

@font-face {
    font-family: 'Bakbak One Regular';
    src: url('/src/fonts/BakbakOneRegular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/src/fonts/Montserrat.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
