#leaderboard-container{
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    background-color: rgba(79, 103, 63, 0.85);
    width: 810px;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 2;
}

#leaderboard {
    display: block;
    width: 100%;
    color: #fff;
    font-family: 'Bakbak One Regular';
    height: 536px;
    text-align: center;
    
}

.leaderboard-header{
    font-family: 'Montserrat';
    background-color: #11201B;
    height: 100%;
    margin: 0;
    padding: 0;
}

.leaderboard-row{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgba(39, 57, 37, 0.63);
    border-top: 1px solid #567D52;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    -webkit-text-stroke: 0.5px black;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    transition: all .2s;
    margin: 4px 0;
    cursor: pointer;
    text-align: center;
}

.leaderboard-row-alpha{
    background-color: rgba(228, 11, 66, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #c04060;
}

.leaderboard-row-bravo{
    background-color: rgba(39, 143, 207, 0.5);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    border-top: 1px solid #2586c3;
    transition: all .2s;
}

.name-cell{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.rank-img-small{
    height: 28px;
    margin-right: 8px;
}

.sort-icon{
    height: 10px;
    position: absolute;
    left: 50%;
    bottom: -12px;
}

.noselect{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

@media screen and (max-width: 1199.98px){
    #leaderboard{
        font-size: 15px;
    }
}

@media screen and (max-width: 575.98px){
    #leaderboard-container{
        padding: 5px;
    }
    #leaderboard{
        font-size: 13px;
        height: 446px;
    }
    .leaderboard-row{
        height: 36px;
        margin: 2px 0;
    }
    .rank-img-small{
        height: 22px;
        margin-right: 6px;
    }
    .sort-icon{
        height: 8px;
        bottom: -11px;
    }
}