.player-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    background-color: rgba(79, 103, 63, 0.85);
    color: #fff;
    flex: 1;
    padding: 20px;
}

.player-stats-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.player-stats{
    display: flex;
    align-items: center;
    height: 30px;
    background-color: rgba(39, 57, 37, 0.63);
    border: 1px solid #000;
    font-family: 'Bakbak One Regular', sans-serif;
    -webkit-text-stroke: 0.5px black;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.player-stats-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    height: 60px;
    border: 1px solid #000;
    align-self: stretch;
    background-color: #11201B;
}

.rank-img-big{
    width: 120px;
}

.player-stats-icon-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    border-right: 1px solid #000;
    background-color: #61975A;
}

.player-stats-icon{
    height: 20px;
}

.player-stats-data{
    flex: 1;
}