

select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Bakbak One Regular';
    font-size: 20px;
    color: #fff;
    padding: 8px 62px 8px 12px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid #000;
    outline: none;
    cursor: pointer;
    padding-right: 50px;
    background-image: url('/public/images/icons/dropdown-icon.png');
    background-size: 20px auto;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-color: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) calc(100% - 50px), rgba(0,0,0,1) calc(100% - 50px), rgba(0,0,0,1) 100%);
    -webkit-text-stroke: 0.5px black;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

@media screen and (max-width: 1199.98px){
    select{
        font-size: 16px;
        background-size: 16px auto;
        padding: 8px 52px 8px 12px;
    }
}

@media screen and (max-width: 767.98px){
    select{
      position: static;
      width: 100%;
      max-width: 300px;
    }
}

@media screen and (max-width: 575.98px){
    select{
        font-size: 14px;
    }
}